{
  "openapi": "3.1.0",
  "info": {
    "title": "Aurboda Health API",
    "version": "1.0.0",
    "description": "REST API for the Aurboda health tracking application. Track health metrics, activities, locations, and productivity data from multiple sources including Android Health Connect, Oura Ring, and RescueTime.",
    "contact": {
      "name": "Fredrik Liljegren",
      "email": "fredrik@liljegren.org"
    },
    "license": {
      "name": "AGPL-3.0-or-later",
      "url": "https://www.gnu.org/licenses/agpl-3.0.html"
    }
  },
  "servers": [
    {
      "url": "https://aurboda.net/api",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Development"
    }
  ],
  "tags": [
    {
      "name": "Metrics",
      "description": "Time series health metrics"
    },
    {
      "name": "Summary",
      "description": "Daily and period summaries"
    },
    {
      "name": "Tags",
      "description": "Activity tags/labels"
    },
    {
      "name": "Activities",
      "description": "Sleep, exercise, meditation sessions"
    },
    {
      "name": "Locations",
      "description": "Named and detected locations"
    },
    {
      "name": "Productivity",
      "description": "RescueTime productivity data"
    },
    {
      "name": "Settings",
      "description": "User settings and preferences"
    },
    {
      "name": "Sync",
      "description": "Data synchronization with external services"
    }
  ],
  "paths": {
    "/metrics/{metric}": {
      "get": {
        "summary": "Query time series metrics",
        "description": "Query health metrics for a time range. Returns time series data with timestamps and values.",
        "tags": [
          "Metrics"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "metric",
            "schema": {
              "$ref": "#/components/schemas/MetricType"
            },
            "required": true,
            "description": "Type of health metric"
          },
          {
            "in": "query",
            "name": "start",
            "schema": {
              "description": "Start date/time",
              "$ref": "#/components/schemas/ISO8601DateTime"
            },
            "required": true,
            "description": "Start date/time"
          },
          {
            "in": "query",
            "name": "end",
            "schema": {
              "description": "End date/time",
              "$ref": "#/components/schemas/ISO8601DateTime"
            },
            "required": true,
            "description": "End date/time"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryMetricsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/metrics": {
      "post": {
        "summary": "Add manual metric",
        "description": "Add a manual health metric measurement.",
        "tags": [
          "Metrics"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddMetricBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddMetricResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/daily-summary": {
      "get": {
        "summary": "Get daily summary",
        "description": "Get a comprehensive summary of health data for a specific day including heart rate, steps, sleep, exercise, tags, productivity, and visited places.",
        "tags": [
          "Summary"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "date",
            "schema": {
              "$ref": "#/components/schemas/DateOnly"
            },
            "required": true,
            "description": "Date in YYYY-MM-DD format"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DailySummaryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/period-summary": {
      "get": {
        "summary": "Get period summary",
        "description": "Get aggregated statistics for a time period. Returns min/max/avg/stddev for each metric, trend compared to previous period, and data completeness.",
        "tags": [
          "Summary"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "start",
            "schema": {
              "description": "Start date/time",
              "$ref": "#/components/schemas/ISO8601DateTime"
            },
            "required": true,
            "description": "Start date/time"
          },
          {
            "in": "query",
            "name": "end",
            "schema": {
              "description": "End date/time",
              "$ref": "#/components/schemas/ISO8601DateTime"
            },
            "required": true,
            "description": "End date/time"
          },
          {
            "in": "query",
            "name": "metrics",
            "schema": {
              "type": "string",
              "description": "Comma-separated list of metrics"
            },
            "required": true,
            "description": "Comma-separated list of metrics"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PeriodSummaryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tags": {
      "get": {
        "summary": "Get tags",
        "description": "Get tags/labels for a time range.",
        "tags": [
          "Tags"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "start",
            "schema": {
              "description": "Start date/time",
              "$ref": "#/components/schemas/ISO8601DateTime"
            },
            "required": true,
            "description": "Start date/time"
          },
          {
            "in": "query",
            "name": "end",
            "schema": {
              "description": "End date/time",
              "$ref": "#/components/schemas/ISO8601DateTime"
            },
            "required": true,
            "description": "End date/time"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add tag",
        "description": "Add a manual tag/label to mark an activity or event.",
        "tags": [
          "Tags"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddTagBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddTagResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tags/{externalId}": {
      "delete": {
        "summary": "Delete tag",
        "description": "Delete a tag by its external ID.",
        "tags": [
          "Tags"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "externalId",
            "schema": {
              "type": "string",
              "description": "External ID of the tag to delete"
            },
            "required": true,
            "description": "External ID of the tag to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteTagResponse"
                }
              }
            }
          },
          "404": {
            "description": "Tag not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/activities": {
      "get": {
        "summary": "Get activities",
        "description": "Get activities (sleep, exercise, meditation, nap) for a time range.",
        "tags": [
          "Activities"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "start",
            "schema": {
              "description": "Start date/time",
              "$ref": "#/components/schemas/ISO8601DateTime"
            },
            "required": true,
            "description": "Start date/time"
          },
          {
            "in": "query",
            "name": "end",
            "schema": {
              "description": "End date/time",
              "$ref": "#/components/schemas/ISO8601DateTime"
            },
            "required": true,
            "description": "End date/time"
          },
          {
            "in": "query",
            "name": "types",
            "schema": {
              "description": "Comma-separated activity types",
              "type": "string"
            },
            "description": "Comma-separated activity types"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivitiesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/locations": {
      "get": {
        "summary": "Get place visits",
        "description": "Get place visits for a time range.",
        "tags": [
          "Locations"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "start",
            "schema": {
              "description": "Start date/time",
              "$ref": "#/components/schemas/ISO8601DateTime"
            },
            "required": true,
            "description": "Start date/time"
          },
          {
            "in": "query",
            "name": "end",
            "schema": {
              "description": "End date/time",
              "$ref": "#/components/schemas/ISO8601DateTime"
            },
            "required": true,
            "description": "End date/time"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/locations/named": {
      "get": {
        "summary": "Get named locations",
        "description": "Get all user-defined named locations.",
        "tags": [
          "Locations"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NamedLocationsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add named location",
        "description": "Create a named location.",
        "tags": [
          "Locations"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddNamedLocationBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddNamedLocationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/locations/named/{id}": {
      "patch": {
        "summary": "Update named location",
        "description": "Update an existing named location.",
        "tags": [
          "Locations"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
              "description": "Location ID"
            },
            "required": true,
            "description": "Location ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateNamedLocationBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddNamedLocationResponse"
                }
              }
            }
          },
          "404": {
            "description": "Location not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete named location",
        "description": "Delete a named location by its ID.",
        "tags": [
          "Locations"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
              "description": "Location ID"
            },
            "required": true,
            "description": "Location ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResponse"
                }
              }
            }
          },
          "404": {
            "description": "Location not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/locations/detected": {
      "get": {
        "summary": "Get detected locations",
        "description": "Get frequently visited locations that are not yet named. Detects places where user spent 60+ minutes.",
        "tags": [
          "Locations"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "start",
            "schema": {
              "description": "Start date/time",
              "$ref": "#/components/schemas/ISO8601DateTime"
            },
            "required": true,
            "description": "Start date/time"
          },
          {
            "in": "query",
            "name": "end",
            "schema": {
              "description": "End date/time",
              "$ref": "#/components/schemas/ISO8601DateTime"
            },
            "required": true,
            "description": "End date/time"
          },
          {
            "in": "query",
            "name": "min_duration",
            "schema": {
              "description": "Minimum stay duration in minutes",
              "type": "number"
            },
            "description": "Minimum stay duration in minutes"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetectedLocationsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/locations/detected/stored": {
      "get": {
        "summary": "Get stored detected locations",
        "description": "Get all stored detected locations with visit statistics.",
        "tags": [
          "Locations"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DetectedLocationsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/locations/detected/promote": {
      "post": {
        "summary": "Promote detected location",
        "description": "Create a named location from detected coordinates.",
        "tags": [
          "Locations"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromoteDetectedLocationBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddNamedLocationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/productivity": {
      "get": {
        "summary": "Get productivity data",
        "description": "Get RescueTime productivity data for a time range.",
        "tags": [
          "Productivity"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "start",
            "schema": {
              "description": "Start date/time",
              "$ref": "#/components/schemas/ISO8601DateTime"
            },
            "required": true,
            "description": "Start date/time"
          },
          {
            "in": "query",
            "name": "end",
            "schema": {
              "description": "End date/time",
              "$ref": "#/components/schemas/ISO8601DateTime"
            },
            "required": true,
            "description": "End date/time"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductivityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/settings": {
      "get": {
        "summary": "Get user settings",
        "description": "Get user settings including birth date and effective HR zones. HR zones are used to calculate time spent in different heart rate zones during exercise.",
        "tags": [
          "Settings"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserSettingsResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update user settings",
        "description": "Update user settings. Can set birth date (for age-based HR zones) and/or custom HR zone thresholds.",
        "tags": [
          "Settings"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSettingsInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserSettingsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sync/status": {
      "get": {
        "summary": "Get sync status",
        "description": "Get the current sync status for Oura and RescueTime data sources. Shows last sync time, status, and any errors.",
        "tags": [
          "Sync"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "provider",
            "schema": {
              "description": "Provider to check",
              "type": "string",
              "enum": [
                "oura",
                "rescuetime",
                "all"
              ]
            },
            "description": "Provider to check"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sync/oura": {
      "post": {
        "summary": "Sync Oura data",
        "description": "Sync data from Oura Ring API. Fetches cardiovascular age, readiness, resilience, sleep scores, meditation sessions, and tags.",
        "tags": [
          "Sync"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncOuraBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/sync/rescuetime": {
      "post": {
        "summary": "Sync RescueTime data",
        "description": "Sync productivity data from RescueTime API. Fetches application and website usage with productivity scores.",
        "tags": [
          "Sync"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncRescueTimeBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "MetricType": {
        "type": "string",
        "enum": [
          "heart_rate",
          "resting_heart_rate",
          "hrv_rmssd",
          "weight",
          "body_fat",
          "bone_mass",
          "lean_body_mass",
          "body_water_mass",
          "height",
          "steps",
          "distance",
          "floors_climbed",
          "calories_active",
          "calories_total",
          "calories_basal",
          "spo2",
          "respiratory_rate",
          "body_temperature",
          "basal_body_temperature",
          "blood_glucose",
          "blood_pressure_systolic",
          "blood_pressure_diastolic",
          "vo2_max",
          "readiness_score",
          "resilience_score",
          "productivity_score",
          "cardiovascular_age",
          "sleep_score",
          "sleep_efficiency",
          "sleep_latency",
          "sleep_restfulness",
          "sleep_timing",
          "sleep_deep_score",
          "sleep_rem_score",
          "sleep_total_score",
          "hr_zone_0_sec",
          "hr_zone_1_sec",
          "hr_zone_2_sec",
          "hr_zone_3_sec",
          "hr_zone_4_sec",
          "hr_zone_5_sec"
        ],
        "description": "Type of health metric",
        "example": "heart_rate"
      },
      "ISO8601DateTime": {
        "type": "string",
        "format": "date-time",
        "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$",
        "description": "ISO 8601 date-time string",
        "example": "2024-01-15T14:30:00Z"
      },
      "AddMetricBody": {
        "type": "object",
        "properties": {
          "metric": {
            "$ref": "#/components/schemas/MetricType"
          },
          "value": {
            "type": "number",
            "description": "Metric value",
            "example": 72
          },
          "time": {
            "description": "Measurement time (defaults to current time)",
            "$ref": "#/components/schemas/ISO8601DateTime"
          }
        },
        "required": [
          "metric",
          "value"
        ]
      },
      "DateOnly": {
        "type": "string",
        "format": "date",
        "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$",
        "description": "Date in YYYY-MM-DD format",
        "example": "2024-01-15"
      },
      "AddTagBody": {
        "type": "object",
        "properties": {
          "tag": {
            "type": "string",
            "minLength": 1,
            "description": "Tag/label text",
            "example": "coffee"
          },
          "start_time": {
            "description": "Start time of the tag",
            "$ref": "#/components/schemas/ISO8601DateTime"
          },
          "end_time": {
            "description": "End time (omit for point-in-time tags)",
            "$ref": "#/components/schemas/ISO8601DateTime"
          }
        },
        "required": [
          "tag",
          "start_time"
        ]
      },
      "AddNamedLocationBody": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Location name",
            "example": "Office"
          },
          "lat": {
            "type": "number",
            "minimum": -90,
            "maximum": 90,
            "description": "Latitude"
          },
          "lon": {
            "type": "number",
            "minimum": -180,
            "maximum": 180,
            "description": "Longitude"
          },
          "radius": {
            "description": "Radius in meters (defaults to 200)",
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "name",
          "lat",
          "lon"
        ]
      },
      "UpdateNamedLocationBody": {
        "type": "object",
        "properties": {
          "name": {
            "description": "New location name",
            "type": "string",
            "minLength": 1
          },
          "lat": {
            "description": "New latitude",
            "type": "number",
            "minimum": -90,
            "maximum": 90
          },
          "lon": {
            "description": "New longitude",
            "type": "number",
            "minimum": -180,
            "maximum": 180
          },
          "radius": {
            "description": "New radius in meters",
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991
          }
        }
      },
      "PromoteDetectedLocationBody": {
        "type": "object",
        "properties": {
          "lat": {
            "type": "number",
            "minimum": -90,
            "maximum": 90,
            "description": "Latitude from detected location"
          },
          "lon": {
            "type": "number",
            "minimum": -180,
            "maximum": 180,
            "description": "Longitude from detected location"
          },
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Name for the location"
          },
          "radius": {
            "description": "Radius in meters (uses suggested radius if not provided)",
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "lat",
          "lon",
          "name"
        ]
      },
      "UpdateSettingsInput": {
        "type": "object",
        "properties": {
          "birth_date": {
            "description": "Birth date (set to null to clear)",
            "anyOf": [
              {
                "type": "string",
                "format": "date",
                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$",
                "description": "Birth date in YYYY-MM-DD format",
                "example": "1985-06-15"
              },
              {
                "type": "null"
              }
            ]
          },
          "hr_zone_start": {
            "description": "Custom HR zone thresholds (set to null to clear)",
            "anyOf": [
              {
                "$ref": "#/components/schemas/HrZoneThresholds"
              },
              {
                "type": "null"
              }
            ]
          },
          "rescue_time_key": {
            "description": "RescueTime API key (set to null to clear)",
            "anyOf": [
              {
                "type": "string",
                "minLength": 1,
                "description": "RescueTime API key (personal token)"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "HrZoneThresholds": {
        "type": "object",
        "properties": {
          "1": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991,
            "description": "Zone 1 threshold (bpm)",
            "example": 90
          },
          "2": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991,
            "description": "Zone 2 threshold (bpm)",
            "example": 108
          },
          "3": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991,
            "description": "Zone 3 threshold (bpm)",
            "example": 126
          },
          "4": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991,
            "description": "Zone 4 threshold (bpm)",
            "example": 144
          },
          "5": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991,
            "description": "Zone 5 threshold (bpm)",
            "example": 162
          }
        },
        "required": [
          "1",
          "2",
          "3",
          "4",
          "5"
        ]
      },
      "SyncOuraBody": {
        "type": "object",
        "properties": {
          "full_resync": {
            "description": "If true, fetches all historical data",
            "type": "boolean"
          },
          "start_date": {
            "description": "Start date for sync (only used with full_resync)",
            "$ref": "#/components/schemas/DateOnly"
          }
        }
      },
      "SyncRescueTimeBody": {
        "type": "object",
        "properties": {
          "full_resync": {
            "description": "If true, fetches all historical data",
            "type": "boolean"
          },
          "start_date": {
            "description": "Start date for sync (only used with full_resync)",
            "$ref": "#/components/schemas/DateOnly"
          }
        }
      },
      "QueryMetricsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "metric": {
            "$ref": "#/components/schemas/MetricType"
          },
          "unit": {
            "type": "string",
            "description": "Unit of measurement",
            "example": "bpm"
          },
          "count": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991,
            "description": "Number of data points"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MetricDataPoint"
            }
          }
        },
        "required": [
          "success",
          "metric",
          "unit",
          "count",
          "data"
        ],
        "additionalProperties": false
      },
      "MetricDataPoint": {
        "type": "object",
        "properties": {
          "time": {
            "$ref": "#/components/schemas/ISO8601DateTime"
          },
          "value": {
            "type": "number",
            "description": "Metric value"
          }
        },
        "required": [
          "time",
          "value"
        ],
        "additionalProperties": false
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "const": false
          },
          "error": {
            "type": "string"
          }
        },
        "required": [
          "success",
          "error"
        ],
        "additionalProperties": false
      },
      "AddMetricResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "error": {
            "type": "string"
          }
        },
        "required": [
          "success"
        ],
        "additionalProperties": false
      },
      "DailySummaryResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/DailySummaryResult"
          },
          "error": {
            "type": "string"
          }
        },
        "required": [
          "success"
        ],
        "additionalProperties": false
      },
      "DailySummaryResult": {
        "type": "object",
        "properties": {
          "date": {
            "$ref": "#/components/schemas/DateOnly"
          },
          "heartRate": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/HeartRateStats"
              },
              {
                "type": "null"
              }
            ]
          },
          "steps": {
            "type": "object",
            "properties": {
              "total": {
                "type": "number",
                "description": "Total steps for the day"
              }
            },
            "required": [
              "total"
            ],
            "additionalProperties": false
          },
          "sleepSessions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SessionSummary"
            }
          },
          "exerciseSessions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SessionSummary"
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TagSummary"
            }
          },
          "productivity": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ProductivitySummary"
              },
              {
                "type": "null"
              }
            ]
          },
          "places": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlaceSummary"
            }
          },
          "ouraScores": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/OuraScores"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "date",
          "heartRate",
          "steps",
          "sleepSessions",
          "exerciseSessions",
          "tags",
          "productivity",
          "places",
          "ouraScores"
        ],
        "additionalProperties": false
      },
      "HeartRateStats": {
        "type": "object",
        "properties": {
          "min": {
            "type": "number",
            "description": "Minimum heart rate",
            "example": 52
          },
          "max": {
            "type": "number",
            "description": "Maximum heart rate",
            "example": 165
          },
          "avg": {
            "type": "number",
            "description": "Average heart rate",
            "example": 72
          },
          "count": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991,
            "description": "Number of samples",
            "example": 1440
          }
        },
        "required": [
          "min",
          "max",
          "avg",
          "count"
        ],
        "additionalProperties": false
      },
      "SessionSummary": {
        "type": "object",
        "properties": {
          "startTime": {
            "$ref": "#/components/schemas/ISO8601DateTime"
          },
          "endTime": {
            "$ref": "#/components/schemas/ISO8601DateTime"
          },
          "duration": {
            "description": "Duration in minutes",
            "type": "number"
          },
          "title": {
            "description": "Session title",
            "type": "string"
          },
          "data": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {}
          },
          "hrZoneSecs": {
            "description": "Time spent in each HR zone during session",
            "$ref": "#/components/schemas/HrZoneSecs"
          }
        },
        "required": [
          "startTime"
        ],
        "additionalProperties": false
      },
      "HrZoneSecs": {
        "type": "object",
        "properties": {
          "0": {
            "type": "number",
            "description": "Seconds below zone 1"
          },
          "1": {
            "type": "number",
            "description": "Seconds in zone 1"
          },
          "2": {
            "type": "number",
            "description": "Seconds in zone 2"
          },
          "3": {
            "type": "number",
            "description": "Seconds in zone 3"
          },
          "4": {
            "type": "number",
            "description": "Seconds in zone 4"
          },
          "5": {
            "type": "number",
            "description": "Seconds in zone 5"
          }
        },
        "required": [
          "0",
          "1",
          "2",
          "3",
          "4",
          "5"
        ],
        "additionalProperties": false
      },
      "TagSummary": {
        "type": "object",
        "properties": {
          "tag": {
            "type": "string",
            "description": "Tag/label text",
            "example": "coffee"
          },
          "startTime": {
            "$ref": "#/components/schemas/ISO8601DateTime"
          },
          "endTime": {
            "$ref": "#/components/schemas/ISO8601DateTime"
          }
        },
        "required": [
          "tag",
          "startTime"
        ],
        "additionalProperties": false
      },
      "ProductivitySummary": {
        "type": "object",
        "properties": {
          "totalDurationSec": {
            "type": "number",
            "description": "Total tracked time in seconds"
          },
          "productiveSec": {
            "type": "number",
            "description": "Productive time in seconds"
          },
          "veryProductiveSec": {
            "type": "number",
            "description": "Very productive time in seconds"
          },
          "distractingSec": {
            "type": "number",
            "description": "Distracting time in seconds"
          }
        },
        "required": [
          "totalDurationSec",
          "productiveSec",
          "veryProductiveSec",
          "distractingSec"
        ],
        "additionalProperties": false
      },
      "PlaceSummary": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Place name",
            "example": "Home"
          },
          "startTime": {
            "$ref": "#/components/schemas/ISO8601DateTime"
          },
          "endTime": {
            "$ref": "#/components/schemas/ISO8601DateTime"
          },
          "duration": {
            "type": "number",
            "description": "Duration in minutes"
          },
          "source": {
            "$ref": "#/components/schemas/PlaceSource"
          },
          "lat": {
            "description": "Latitude",
            "type": "number"
          },
          "lon": {
            "description": "Longitude",
            "type": "number"
          },
          "address": {
            "description": "Geocoded address",
            "type": "string"
          },
          "detectedLocationId": {
            "description": "ID of detected location if source is detected",
            "type": "string",
            "format": "uuid",
            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
          }
        },
        "required": [
          "name",
          "startTime",
          "endTime",
          "duration",
          "source"
        ],
        "additionalProperties": false
      },
      "PlaceSource": {
        "type": "string",
        "enum": [
          "named",
          "detected",
          "owntracks",
          "unknown"
        ],
        "description": "Source of place identification",
        "example": "named"
      },
      "OuraScores": {
        "type": "object",
        "properties": {
          "sleepScore": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "Oura sleep score (0-100)"
          },
          "readinessScore": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "Oura readiness score (0-100)"
          },
          "resilienceScore": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "Oura resilience score (0-100)"
          },
          "cardiovascularAge": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "Oura cardiovascular age"
          }
        },
        "required": [
          "sleepScore",
          "readinessScore",
          "resilienceScore",
          "cardiovascularAge"
        ],
        "additionalProperties": false
      },
      "PeriodSummaryResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "start": {
            "$ref": "#/components/schemas/ISO8601DateTime"
          },
          "end": {
            "$ref": "#/components/schemas/ISO8601DateTime"
          },
          "periodDays": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "metrics": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PeriodMetricStats"
            }
          },
          "error": {
            "type": "string"
          }
        },
        "required": [
          "success"
        ],
        "additionalProperties": false
      },
      "PeriodMetricStats": {
        "type": "object",
        "properties": {
          "metric": {
            "$ref": "#/components/schemas/MetricType"
          },
          "unit": {
            "type": "string",
            "description": "Unit of measurement"
          },
          "count": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991,
            "description": "Number of data points"
          },
          "min": {
            "type": "number",
            "description": "Minimum value"
          },
          "max": {
            "type": "number",
            "description": "Maximum value"
          },
          "avg": {
            "type": "number",
            "description": "Average value"
          },
          "stddev": {
            "type": "number",
            "description": "Standard deviation"
          },
          "trendPerDay": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "Daily trend (slope of linear regression)"
          },
          "changeFromPreviousPeriodPercent": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "description": "Percent change from previous period"
          },
          "completenessPercent": {
            "type": "number",
            "description": "Data completeness (days with data / total days)"
          },
          "outliers": {
            "description": "Values more than 2 stddev from mean",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Outlier"
            }
          }
        },
        "required": [
          "metric",
          "unit",
          "count",
          "min",
          "max",
          "avg",
          "stddev",
          "trendPerDay",
          "changeFromPreviousPeriodPercent",
          "completenessPercent"
        ],
        "additionalProperties": false
      },
      "Outlier": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "high",
              "low"
            ],
            "description": "Outlier type"
          },
          "value": {
            "type": "number",
            "description": "Outlier value"
          }
        },
        "required": [
          "type",
          "value"
        ],
        "additionalProperties": false
      },
      "TagsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tag"
            }
          },
          "error": {
            "type": "string"
          }
        },
        "required": [
          "success"
        ],
        "additionalProperties": false
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Tag ID",
            "type": "string",
            "format": "uuid",
            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
          },
          "source": {
            "$ref": "#/components/schemas/DataSource"
          },
          "externalId": {
            "description": "External ID from source",
            "type": "string"
          },
          "tag": {
            "type": "string",
            "description": "Tag/label text",
            "example": "coffee"
          },
          "startTime": {
            "$ref": "#/components/schemas/ISO8601DateTime"
          },
          "endTime": {
            "$ref": "#/components/schemas/ISO8601DateTime"
          }
        },
        "required": [
          "source",
          "tag",
          "startTime"
        ],
        "additionalProperties": false
      },
      "DataSource": {
        "type": "string",
        "enum": [
          "health_connect",
          "health_connect_aggregate",
          "oura",
          "garmin",
          "rescuetime",
          "owntracks",
          "manual"
        ],
        "description": "Source of the data",
        "example": "health_connect"
      },
      "AddTagResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid",
                "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
              },
              "tag": {
                "type": "string"
              },
              "startTime": {
                "$ref": "#/components/schemas/ISO8601DateTime"
              },
              "endTime": {
                "$ref": "#/components/schemas/ISO8601DateTime"
              }
            },
            "required": [
              "id",
              "tag",
              "startTime"
            ],
            "additionalProperties": false
          },
          "error": {
            "type": "string"
          }
        },
        "required": [
          "success"
        ],
        "additionalProperties": false
      },
      "DeleteTagResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "error": {
            "type": "string"
          }
        },
        "required": [
          "success"
        ],
        "additionalProperties": false
      },
      "ActivitiesResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Activity"
            }
          },
          "error": {
            "type": "string"
          }
        },
        "required": [
          "success"
        ],
        "additionalProperties": false
      },
      "Activity": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Activity ID",
            "type": "string",
            "format": "uuid",
            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
          },
          "source": {
            "$ref": "#/components/schemas/DataSource"
          },
          "activityType": {
            "$ref": "#/components/schemas/ActivityType"
          },
          "startTime": {
            "$ref": "#/components/schemas/ISO8601DateTime"
          },
          "endTime": {
            "$ref": "#/components/schemas/ISO8601DateTime"
          },
          "duration": {
            "description": "Duration in minutes",
            "type": "number"
          },
          "title": {
            "description": "Activity title",
            "type": "string"
          },
          "notes": {
            "description": "Activity notes",
            "type": "string"
          },
          "data": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {}
          },
          "hrZoneSecs": {
            "description": "Time spent in each HR zone (for exercise)",
            "$ref": "#/components/schemas/HrZoneSecs"
          }
        },
        "required": [
          "source",
          "activityType",
          "startTime"
        ],
        "additionalProperties": false
      },
      "ActivityType": {
        "type": "string",
        "enum": [
          "sleep",
          "exercise",
          "meditation",
          "nap"
        ],
        "description": "Type of activity",
        "example": "exercise"
      },
      "LocationsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlaceVisit"
            }
          },
          "error": {
            "type": "string"
          }
        },
        "required": [
          "success"
        ],
        "additionalProperties": false
      },
      "PlaceVisit": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Place name"
          },
          "lat": {
            "description": "Latitude",
            "type": "number"
          },
          "lon": {
            "description": "Longitude",
            "type": "number"
          },
          "startTime": {
            "$ref": "#/components/schemas/ISO8601DateTime"
          },
          "endTime": {
            "$ref": "#/components/schemas/ISO8601DateTime"
          },
          "duration": {
            "type": "number",
            "description": "Duration in minutes"
          },
          "source": {
            "$ref": "#/components/schemas/PlaceSource"
          },
          "address": {
            "description": "Geocoded address",
            "type": "string"
          },
          "detectedLocationId": {
            "description": "ID of detected location if source is detected",
            "type": "string",
            "format": "uuid",
            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
          }
        },
        "required": [
          "name",
          "startTime",
          "endTime",
          "duration",
          "source"
        ],
        "additionalProperties": false
      },
      "NamedLocationsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NamedLocation"
            }
          },
          "error": {
            "type": "string"
          }
        },
        "required": [
          "success"
        ],
        "additionalProperties": false
      },
      "NamedLocation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
            "description": "Location ID"
          },
          "name": {
            "type": "string",
            "description": "Location name",
            "example": "Home"
          },
          "lat": {
            "type": "number",
            "description": "Latitude",
            "example": 59.3293
          },
          "lon": {
            "type": "number",
            "description": "Longitude",
            "example": 18.0686
          },
          "radius": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991,
            "description": "Radius in meters",
            "example": 200
          }
        },
        "required": [
          "id",
          "name",
          "lat",
          "lon",
          "radius"
        ],
        "additionalProperties": false
      },
      "AddNamedLocationResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "$ref": "#/components/schemas/NamedLocation"
          },
          "error": {
            "type": "string"
          }
        },
        "required": [
          "success"
        ],
        "additionalProperties": false
      },
      "DeleteResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          }
        },
        "required": [
          "success"
        ],
        "additionalProperties": false
      },
      "DetectedLocationsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DetectedLocation"
            }
          },
          "error": {
            "type": "string"
          }
        },
        "required": [
          "success"
        ],
        "additionalProperties": false
      },
      "DetectedLocation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
            "description": "Location ID"
          },
          "lat": {
            "type": "number",
            "description": "Latitude"
          },
          "lon": {
            "type": "number",
            "description": "Longitude"
          },
          "radius": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991,
            "description": "Radius in meters"
          },
          "totalMinutes": {
            "type": "number",
            "description": "Total time spent at location"
          },
          "visitCount": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991,
            "description": "Number of visits"
          },
          "firstVisit": {
            "description": "First visit time",
            "$ref": "#/components/schemas/ISO8601DateTime"
          },
          "lastVisit": {
            "description": "Last visit time",
            "$ref": "#/components/schemas/ISO8601DateTime"
          },
          "address": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Geocoded address"
          },
          "geocodeStatus": {
            "$ref": "#/components/schemas/GeocodeStatus"
          }
        },
        "required": [
          "id",
          "lat",
          "lon",
          "radius",
          "totalMinutes",
          "visitCount",
          "firstVisit",
          "lastVisit",
          "address",
          "geocodeStatus"
        ],
        "additionalProperties": false
      },
      "GeocodeStatus": {
        "type": "string",
        "enum": [
          "pending",
          "geocoding",
          "success",
          "failed"
        ],
        "description": "Status of geocoding operation",
        "example": "success"
      },
      "ProductivityResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductivityRecord"
            }
          },
          "error": {
            "type": "string"
          }
        },
        "required": [
          "success"
        ],
        "additionalProperties": false
      },
      "ProductivityRecord": {
        "type": "object",
        "properties": {
          "source": {
            "$ref": "#/components/schemas/DataSource"
          },
          "startTime": {
            "$ref": "#/components/schemas/ISO8601DateTime"
          },
          "endTime": {
            "$ref": "#/components/schemas/ISO8601DateTime"
          },
          "activity": {
            "type": "string",
            "description": "Activity/application name"
          },
          "category": {
            "description": "Activity category",
            "type": "string"
          },
          "productivity": {
            "description": "Productivity score (-2 to 2)",
            "example": 2,
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991
          },
          "durationSec": {
            "type": "integer",
            "minimum": -9007199254740991,
            "maximum": 9007199254740991,
            "description": "Duration in seconds"
          },
          "isMobile": {
            "description": "Whether activity was on mobile",
            "type": "boolean"
          }
        },
        "required": [
          "startTime",
          "endTime",
          "activity",
          "durationSec"
        ],
        "additionalProperties": false
      },
      "UserSettingsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "birth_date": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Birth date in YYYY-MM-DD format"
          },
          "hr_zone_start": {
            "description": "Effective HR zone thresholds",
            "$ref": "#/components/schemas/HrZoneThresholdsOutput"
          },
          "hr_zone_start_source": {
            "$ref": "#/components/schemas/HrZoneSource"
          },
          "rescue_time_key": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "RescueTime API key"
          },
          "oura_connected": {
            "type": "boolean",
            "description": "Whether Oura is connected via OAuth"
          },
          "oura_configured": {
            "type": "boolean",
            "description": "Whether Oura OAuth is configured on server"
          },
          "error": {
            "description": "Error message if request failed",
            "type": "string"
          }
        },
        "required": [
          "success",
          "birth_date",
          "hr_zone_start",
          "hr_zone_start_source",
          "rescue_time_key",
          "oura_connected",
          "oura_configured"
        ],
        "additionalProperties": false
      },
      "HrZoneSource": {
        "type": "string",
        "enum": [
          "custom",
          "age_based",
          "default"
        ],
        "description": "Source of HR zone thresholds",
        "example": "age_based"
      },
      "SyncStatusResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProviderSyncStatus"
            }
          },
          "error": {
            "type": "string"
          }
        },
        "required": [
          "success"
        ],
        "additionalProperties": false
      },
      "ProviderSyncStatus": {
        "type": "object",
        "properties": {
          "provider": {
            "type": "string",
            "description": "Provider name",
            "example": "oura"
          },
          "status": {
            "$ref": "#/components/schemas/SyncStatus"
          },
          "lastSyncTime": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ISO8601DateTime"
              },
              {
                "type": "null"
              }
            ],
            "description": "Last successful sync time"
          },
          "errorMessage": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Error message if status is error"
          },
          "retryAfter": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ISO8601DateTime"
              },
              {
                "type": "null"
              }
            ],
            "description": "Time when retry is allowed"
          }
        },
        "required": [
          "provider",
          "status",
          "lastSyncTime",
          "errorMessage",
          "retryAfter"
        ],
        "additionalProperties": false
      },
      "SyncStatus": {
        "type": "string",
        "enum": [
          "idle",
          "syncing",
          "error"
        ],
        "description": "Status of sync operation",
        "example": "idle"
      },
      "SyncResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "message": {
            "description": "Status message",
            "type": "string"
          },
          "error": {
            "type": "string"
          }
        },
        "required": [
          "success"
        ],
        "additionalProperties": false
      },
      "HrZoneThresholdsOutput": {
        "type": "object",
        "properties": {
          "1": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991,
            "description": "Zone 1 threshold (bpm)",
            "example": 90
          },
          "2": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991,
            "description": "Zone 2 threshold (bpm)",
            "example": 108
          },
          "3": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991,
            "description": "Zone 3 threshold (bpm)",
            "example": 126
          },
          "4": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991,
            "description": "Zone 4 threshold (bpm)",
            "example": 144
          },
          "5": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991,
            "description": "Zone 5 threshold (bpm)",
            "example": 162
          }
        },
        "required": [
          "1",
          "2",
          "3",
          "4",
          "5"
        ],
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Bearer token authentication"
      }
    }
  }
}