:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: #222;
	background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
	background-color: #673ab8;
}

header nav {
	display: flex;
}

header nav .spacer {
	flex: 1;
}

header a {
	color: #fff;
	padding: 0.75rem;
	text-decoration: none;
}

header a.active {
	background-color: #0005;
}

header a:hover {
	background-color: #0008;
}

main {
	flex: auto;
	display: flex;
	width: 100%;
	text-align: left;
}

@media (max-width: 639px) {
	main {
		margin: 2rem;
	}
}

.site-footer {
	text-align: right;
	font-size: 0.75rem;
	padding: 0.5rem 1rem;
	color: #888;
}

.site-footer a {
	color: #888;
}

.site-footer a:hover {
	color: #673ab8;
}

@media (prefers-color-scheme: dark) {
	:root {
		color: #ccc;
		background-color: #1a1a1a;
	}

	.site-footer {
		color: #666;
	}

	.site-footer a {
		color: #666;
	}

	.site-footer a:hover {
		color: #8b5cf6;
	}
}
