/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package net.aurboda.api.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import net.aurboda.api.models.AddMetricBody
import net.aurboda.api.models.AddMetricResponse
import net.aurboda.api.models.ErrorResponse
import net.aurboda.api.models.MetricType
import net.aurboda.api.models.QueryMetricsResponse

import kotlinx.serialization.SerialName
import kotlinx.serialization.Serializable

import net.aurboda.api.infrastructure.ApiClient
import net.aurboda.api.infrastructure.ApiResponse
import net.aurboda.api.infrastructure.ClientException
import net.aurboda.api.infrastructure.ClientError
import net.aurboda.api.infrastructure.ServerException
import net.aurboda.api.infrastructure.ServerError
import net.aurboda.api.infrastructure.MultiValueMap
import net.aurboda.api.infrastructure.PartConfig
import net.aurboda.api.infrastructure.RequestConfig
import net.aurboda.api.infrastructure.RequestMethod
import net.aurboda.api.infrastructure.ResponseType
import net.aurboda.api.infrastructure.Success
import net.aurboda.api.infrastructure.toMultiValue

open class MetricsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://aurboda.net/api")
        }
    }

    /**
     * GET /metrics/{metric}
     * Query time series metrics
     * Query health metrics for a time range. Returns time series data with timestamps and values.
     * @param metric Type of health metric
     * @param start Start date/time
     * @param end End date/time
     * @return QueryMetricsResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun metricsMetricGet(metric: MetricType, start: java.time.OffsetDateTime, end: java.time.OffsetDateTime) : QueryMetricsResponse {
        val localVarResponse = metricsMetricGetWithHttpInfo(metric = metric, start = start, end = end)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as QueryMetricsResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /metrics/{metric}
     * Query time series metrics
     * Query health metrics for a time range. Returns time series data with timestamps and values.
     * @param metric Type of health metric
     * @param start Start date/time
     * @param end End date/time
     * @return ApiResponse<QueryMetricsResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun metricsMetricGetWithHttpInfo(metric: MetricType, start: java.time.OffsetDateTime, end: java.time.OffsetDateTime) : ApiResponse<QueryMetricsResponse?> {
        val localVariableConfig = metricsMetricGetRequestConfig(metric = metric, start = start, end = end)

        return request<Unit, QueryMetricsResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation metricsMetricGet
     *
     * @param metric Type of health metric
     * @param start Start date/time
     * @param end End date/time
     * @return RequestConfig
     */
    fun metricsMetricGetRequestConfig(metric: MetricType, start: java.time.OffsetDateTime, end: java.time.OffsetDateTime) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("start", listOf(start.toString()))
                put("end", listOf(end.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/metrics/{metric}".replace("{"+"metric"+"}", encodeURIComponent(metric.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /metrics
     * Add manual metric
     * Add a manual health metric measurement.
     * @param addMetricBody  (optional)
     * @return AddMetricResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun metricsPost(addMetricBody: AddMetricBody? = null) : AddMetricResponse {
        val localVarResponse = metricsPostWithHttpInfo(addMetricBody = addMetricBody)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AddMetricResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /metrics
     * Add manual metric
     * Add a manual health metric measurement.
     * @param addMetricBody  (optional)
     * @return ApiResponse<AddMetricResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun metricsPostWithHttpInfo(addMetricBody: AddMetricBody?) : ApiResponse<AddMetricResponse?> {
        val localVariableConfig = metricsPostRequestConfig(addMetricBody = addMetricBody)

        return request<AddMetricBody, AddMetricResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation metricsPost
     *
     * @param addMetricBody  (optional)
     * @return RequestConfig
     */
    fun metricsPostRequestConfig(addMetricBody: AddMetricBody?) : RequestConfig<AddMetricBody> {
        val localVariableBody = addMetricBody
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/metrics",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
