/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package net.aurboda.api.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import net.aurboda.api.models.ErrorResponse
import net.aurboda.api.models.UpdateSettingsInput
import net.aurboda.api.models.UserSettingsResponse

import kotlinx.serialization.SerialName
import kotlinx.serialization.Serializable

import net.aurboda.api.infrastructure.ApiClient
import net.aurboda.api.infrastructure.ApiResponse
import net.aurboda.api.infrastructure.ClientException
import net.aurboda.api.infrastructure.ClientError
import net.aurboda.api.infrastructure.ServerException
import net.aurboda.api.infrastructure.ServerError
import net.aurboda.api.infrastructure.MultiValueMap
import net.aurboda.api.infrastructure.PartConfig
import net.aurboda.api.infrastructure.RequestConfig
import net.aurboda.api.infrastructure.RequestMethod
import net.aurboda.api.infrastructure.ResponseType
import net.aurboda.api.infrastructure.Success
import net.aurboda.api.infrastructure.toMultiValue

open class SettingsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://aurboda.net/api")
        }
    }

    /**
     * GET /user/settings
     * Get user settings
     * Get user settings including birth date and effective HR zones. HR zones are used to calculate time spent in different heart rate zones during exercise.
     * @return UserSettingsResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun userSettingsGet() : UserSettingsResponse {
        val localVarResponse = userSettingsGetWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as UserSettingsResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /user/settings
     * Get user settings
     * Get user settings including birth date and effective HR zones. HR zones are used to calculate time spent in different heart rate zones during exercise.
     * @return ApiResponse<UserSettingsResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun userSettingsGetWithHttpInfo() : ApiResponse<UserSettingsResponse?> {
        val localVariableConfig = userSettingsGetRequestConfig()

        return request<Unit, UserSettingsResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation userSettingsGet
     *
     * @return RequestConfig
     */
    fun userSettingsGetRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/user/settings",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /user/settings
     * Update user settings
     * Update user settings. Can set birth date (for age-based HR zones) and/or custom HR zone thresholds.
     * @param updateSettingsInput  (optional)
     * @return UserSettingsResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun userSettingsPatch(updateSettingsInput: UpdateSettingsInput? = null) : UserSettingsResponse {
        val localVarResponse = userSettingsPatchWithHttpInfo(updateSettingsInput = updateSettingsInput)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as UserSettingsResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /user/settings
     * Update user settings
     * Update user settings. Can set birth date (for age-based HR zones) and/or custom HR zone thresholds.
     * @param updateSettingsInput  (optional)
     * @return ApiResponse<UserSettingsResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun userSettingsPatchWithHttpInfo(updateSettingsInput: UpdateSettingsInput?) : ApiResponse<UserSettingsResponse?> {
        val localVariableConfig = userSettingsPatchRequestConfig(updateSettingsInput = updateSettingsInput)

        return request<UpdateSettingsInput, UserSettingsResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation userSettingsPatch
     *
     * @param updateSettingsInput  (optional)
     * @return RequestConfig
     */
    fun userSettingsPatchRequestConfig(updateSettingsInput: UpdateSettingsInput?) : RequestConfig<UpdateSettingsInput> {
        val localVariableBody = updateSettingsInput
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/user/settings",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
