/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package net.aurboda.api.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import net.aurboda.api.models.ErrorResponse
import net.aurboda.api.models.SyncOuraBody
import net.aurboda.api.models.SyncRescueTimeBody
import net.aurboda.api.models.SyncResponse
import net.aurboda.api.models.SyncStatusResponse

import kotlinx.serialization.SerialName
import kotlinx.serialization.Serializable

import net.aurboda.api.infrastructure.ApiClient
import net.aurboda.api.infrastructure.ApiResponse
import net.aurboda.api.infrastructure.ClientException
import net.aurboda.api.infrastructure.ClientError
import net.aurboda.api.infrastructure.ServerException
import net.aurboda.api.infrastructure.ServerError
import net.aurboda.api.infrastructure.MultiValueMap
import net.aurboda.api.infrastructure.PartConfig
import net.aurboda.api.infrastructure.RequestConfig
import net.aurboda.api.infrastructure.RequestMethod
import net.aurboda.api.infrastructure.ResponseType
import net.aurboda.api.infrastructure.Success
import net.aurboda.api.infrastructure.toMultiValue

open class SyncApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://aurboda.net/api")
        }
    }

    /**
     * POST /sync/oura
     * Sync Oura data
     * Sync data from Oura Ring API. Fetches cardiovascular age, readiness, resilience, sleep scores, meditation sessions, and tags.
     * @param syncOuraBody  (optional)
     * @return SyncResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun syncOuraPost(syncOuraBody: SyncOuraBody? = null) : SyncResponse {
        val localVarResponse = syncOuraPostWithHttpInfo(syncOuraBody = syncOuraBody)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SyncResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /sync/oura
     * Sync Oura data
     * Sync data from Oura Ring API. Fetches cardiovascular age, readiness, resilience, sleep scores, meditation sessions, and tags.
     * @param syncOuraBody  (optional)
     * @return ApiResponse<SyncResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun syncOuraPostWithHttpInfo(syncOuraBody: SyncOuraBody?) : ApiResponse<SyncResponse?> {
        val localVariableConfig = syncOuraPostRequestConfig(syncOuraBody = syncOuraBody)

        return request<SyncOuraBody, SyncResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation syncOuraPost
     *
     * @param syncOuraBody  (optional)
     * @return RequestConfig
     */
    fun syncOuraPostRequestConfig(syncOuraBody: SyncOuraBody?) : RequestConfig<SyncOuraBody> {
        val localVariableBody = syncOuraBody
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/sync/oura",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /sync/rescuetime
     * Sync RescueTime data
     * Sync productivity data from RescueTime API. Fetches application and website usage with productivity scores.
     * @param syncRescueTimeBody  (optional)
     * @return SyncResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun syncRescuetimePost(syncRescueTimeBody: SyncRescueTimeBody? = null) : SyncResponse {
        val localVarResponse = syncRescuetimePostWithHttpInfo(syncRescueTimeBody = syncRescueTimeBody)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SyncResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /sync/rescuetime
     * Sync RescueTime data
     * Sync productivity data from RescueTime API. Fetches application and website usage with productivity scores.
     * @param syncRescueTimeBody  (optional)
     * @return ApiResponse<SyncResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun syncRescuetimePostWithHttpInfo(syncRescueTimeBody: SyncRescueTimeBody?) : ApiResponse<SyncResponse?> {
        val localVariableConfig = syncRescuetimePostRequestConfig(syncRescueTimeBody = syncRescueTimeBody)

        return request<SyncRescueTimeBody, SyncResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation syncRescuetimePost
     *
     * @param syncRescueTimeBody  (optional)
     * @return RequestConfig
     */
    fun syncRescuetimePostRequestConfig(syncRescueTimeBody: SyncRescueTimeBody?) : RequestConfig<SyncRescueTimeBody> {
        val localVariableBody = syncRescueTimeBody
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/sync/rescuetime",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter provider
     */
     enum class ProviderSyncStatusGet(val value: kotlin.String) {
         @SerialName(value = "oura") oura("oura"),
         @SerialName(value = "rescuetime") rescuetime("rescuetime"),
         @SerialName(value = "all") all("all");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /sync/status
     * Get sync status
     * Get the current sync status for Oura and RescueTime data sources. Shows last sync time, status, and any errors.
     * @param provider Provider to check (optional)
     * @return SyncStatusResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun syncStatusGet(provider: ProviderSyncStatusGet? = null) : SyncStatusResponse {
        val localVarResponse = syncStatusGetWithHttpInfo(provider = provider)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SyncStatusResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /sync/status
     * Get sync status
     * Get the current sync status for Oura and RescueTime data sources. Shows last sync time, status, and any errors.
     * @param provider Provider to check (optional)
     * @return ApiResponse<SyncStatusResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun syncStatusGetWithHttpInfo(provider: ProviderSyncStatusGet?) : ApiResponse<SyncStatusResponse?> {
        val localVariableConfig = syncStatusGetRequestConfig(provider = provider)

        return request<Unit, SyncStatusResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation syncStatusGet
     *
     * @param provider Provider to check (optional)
     * @return RequestConfig
     */
    fun syncStatusGetRequestConfig(provider: ProviderSyncStatusGet?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (provider != null) {
                    put("provider", listOf(provider.value))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/sync/status",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
